html {
    font-size: 62.5%; /*Reset para REMS - 62.5% = 10px de 16px | 1 rem = 10px  */
    box-sizing: border-box; /*Aplicar correctamente box-sizing*/
}
*, *:before, *:after { /*Aplicar correctamente box-sizing*/
    box-sizing: inherit; /*Aplicar correctamente box-sizing*/
}

body {
    font-family: 'Lato', sans-serif; /*Establecimos el tipo de fuente para todo el documento*/
    font-size: 1.6rem; /*Para establecer un tamaño estandar a todo el font-size del documento;*/
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!- Globales -!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
img {
    max-width: 100%; /* Para ajustar las imagenes al contenedor padre*/
}

/*---------------utilidades-----------------*/
.ctn-800px {
    max-width: 800px;
    margin: 0 auto;
}
.ctn-1000px {
    max-width: 1000px;
    margin: 0 auto;
}
.pdn-2 {
    padding: 0 2rem;
}

/*---------Medidas estandar para titulos-----------*/
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3.2rem;
    
}
h4 {
    font-size: 2.8rem;
}

/*---------------------------------------------------Header----------------------------------------------------*/
header {
    height: 4rem;
    background-color: #2382DB;
    font-size: 1.4rem;
}
.header-main-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-main-container a {
    text-decoration: none;
    color: #ffffff;
}
.header-main-container i {
    margin-right: .5rem;
}
.header-main-container a:hover {
    color: #2A445C;
}

/*---------------------------------------------------Main----------------------------------------------------*/
main {
    background-color: #e6e9ed;
    display: flex;
    align-items: center;
    line-height: 2rem;
}
.profile-main-container {
    display: block;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.profile-image {
    margin: 2rem 0;
    text-align: center;
    flex-basis: calc(40% - 1rem);
}
.profile-image img {
    width: 60%;
    border-radius: 1rem;
}
.profile-description {
    flex-basis: calc(60% - 1rem);
    align-self: flex-start;
    line-height: 1.5;
}
.profile-description h1 {
    margin: 1rem 0 2rem;
} 
.profile-description p a {
    color: #8d8d8d;
    text-decoration: none;
}
.profile-description p a:hover {
    text-decoration: underline;
}

/*----------------------------------------------section proyectos----------------------------------------------------*/
.proyectos-main-container {
    margin: 5rem auto;
}
.proyectos-main-container h2 {
    text-align: center;
    margin: 0;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 1rem;
}

/*---------------Carousel-----------------------------*/
.carousel {
    width: 100%;
    position: relative;
    overflow-x: scroll; /*para que se puede hacer scroll*/
}

/*-----scrollbar------*/
.carousel::-webkit-scrollbar {
    height: .8rem;
}
.carousel::-webkit-scrollbar-track {
    background-color: #d6d6d6;
}
.carousel::-webkit-scrollbar-track:hover {
    background-color: #a3a3a3;
}
.carousel::-webkit-scrollbar-thumb {
    background-color: #5f6368;
    border-radius: 4px;
}
.carousel::-webkit-scrollbar-thumb:hover {
    background-color: #cccccc;
}
/*-----scrollbar------*/

.carousel-container {
    white-space: nowrap; /*Para que los elementos agregagados no se apilen en el contenedor*/
    margin: 7rem 0;
    padding-bottom: 1rem;
}
.carousel-item {
    display: inline-block; /*para que las cartas se posicionen al lado*/
    width: 20rem;
    height: 21rem;
    margin-right: 1rem;
    padding: 1rem;
    background-color: #2A445C;
    color: #ffffff;
    border-radius: 2rem;
    overflow: hidden; /*para esconder las esquinas de la images y se aplique el border-radius*/
    /*---------para las transiciones-------------*/
    transition: 450ms; /*para que se vea el efecto de la transicion*/
    transform-origin: center left; /*acomodamos los items para cuando se realice la transicion*/
}
.carousel-item:last-of-type {
    transform-origin: center right; /*acomodamos los items para cuando se realice la transicion*/
}
.carousel-item h4 {
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
    white-space: normal;
    margin-bottom: 1rem;
}
.carousel-item-description {
    display: flex;
    flex-direction: column;
}
.carousel-item-description p {
    font-size: 1rem;
    white-space: normal;
}
.carousel-item-description a {
    color:#ffffff;
    margin-bottom: 1rem;
    font-size: 1rem;
    display: inline-block;
}
.carousel-item-description a:hover {
    color: #97cac4;
}
.carousel-item:hover ~ .carousel-item { /*cuando hacemos hover a los items el carrousel, para que los otros item se acomoden tambien*/
    transform: translate3d(10rem, 0, 0); /*para aplicar la animacion*/
}
.carousel-container:hover .carousel-item { /*para que a los items a los cuales no se les hace hover muestren una opacidad*/
    opacity: 0.3; /*para que los items a los que no se le hace :hover muestren una opacidad*/
}
.carousel-container:hover .carousel-item:hover { /*para que al item al que se le posiciona el cursor aumente de tamaño,y haga el efecto de que esta seleccionado*/
    transform: scale(1.5); /*aumentamos su tamaño*/
    opacity: 1; /*para que se muestre sin la opacidad*/
}


/*---------------------------------------------------Footer----------------------------------------------------*/
footer {
    background-color: #2382DB;
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p {
    margin: 0; /*quitamos los margenes por default*/
    color: #ffffff;
}